<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="#">Car Review</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                     <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                     <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                     <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                             <input type="text" class="form-control" placeholder="Username" name="username" >
                             <input type="password" class="form-control" placeholder="Password" name="psw" >
                             <button class="btn btn-primary" type="submit">Login</button>
                             <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                     </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!--Add a dealer table here -->
    {% if dealer_list %}
    <div class="container"> 
        <div class="card-deck"> 
            {% for dealer in dealer_list %}
            <div class="card" style="width: 36rem;">
                <img class="card-img-left" src="{{MEDIA_URL}}/{{ dealer.image }}" width="240px" height="240px"
                           alt="Dealer image"> 
                <div class="card-body bg-light"> 
                    <h5 class="card-title">{{ dealer.name }}, <span class="text-success"> 
                              {{ dealer.total_review }} review</span></h5>
                    <p class="card-text">{{ dealer.description }}</p> 
                    <form action="{% url 'djangoapp:review' dealer.id %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit"
                               value="Review"> 
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p>No dealer are available.</p>
    {% endif %}

    </body>
</html>
